body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: hsla(0, 0%, 50%, 0.568);

}

h1{
    font-size: 4rem;
    font-family: 'Arial',sans-serif;

}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border: 5px solid;
    border-radius: 50px;
    background: white;
}

#display{
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    color: hsl(0, 0, 30%);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.751);
    margin-bottom: 25px;
}

#control button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: background-color 0.5s ease;
}

#startBtn{
    background-color: hsl(120, 100%, 40%);
}
#startBtn:hover{
    background-color: hsl(120, 100%, 30%);
}

#stopBtn{
    background-color: hsl(5, 100%, 40%);
}
#stopBtn:hover{
    background-color: hsl(5, 100%, 30%);
}

#resetBtn{
    background-color: hsl(214, 100%, 40%);
}

#resetBtn:hover{
    background-color: hsl(214, 100%, 30%);
}